body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(https://i.imgur.com/ha2GG88.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: left;
  padding-bottom: 10vh;
}


/* LOG IN AND REGISTER */

.logo {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.logoH1 {
  font-family: 'Slackey', cursive;
  color: #000;
  font-size: 125px;
  margin: 0;
}

.logoH2 {
  font-family: 'Oswald', sans-serif;
  color: #157347;
  font-size: 50px;
  text-shadow: 3px 3px 3px #000;
}

.logoH4 {
  font-family: 'Oswald', sans-serif;
  color: #000;
  font-size: 30px;
  /* background-color: rgba(255, 255, 255, .3) */
}

.tomato {
  width: 115px;
}

.sessionDiv, .userDiv {
  display: flex;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
}

.newSession, .newUser {
  display: flex;
  justify-content: center;
  width: 70%;
}

.loginDiv, .registerDiv, .authDiv {
  display: flex;
  justify-content: center;
}

.loginButton, .registerButton {
  font-size: 1.4em;
  border: 2px solid black;
  margin-top: 10px;
  margin-bottom: 5px;
}

.toggleAuth {
  margin-top: 5%;
  background-color: #253D5B;
  color: ghostwhite;
  border: 2px solid black;
  font-size: 1.6em;
}

.toggleAuth:hover {
  background-color: ghostwhite;
  color: black;
}


/* HEADER */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.headerH1 {
  font-family: 'Slackey', cursive;
  color: #000;
  font-size: 120px;
}

.headerTomato {
  width: 110px;
}


/* NAV BAR */

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5%;
}

.navPicture {
  width: 125px;
  border: 2px solid black;
  border-radius: 50%;
}

.addButton, .filterButton, .logoutButton {
  font-size: 1.4em;
  color: ghostwhite;
  border: 2px solid black;
}

.addButton {
  background-color: #253D5B;
}


/* SIDEBAR / FILTER BUTTONS */

.filterDiv {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: rgba(37, 61, 91, .8);
  min-width: 300px;
  width: 15%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  padding-top: 80px;
  border-right: 5px solid black;
}

.filterForm {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.filterSelect, .filterTypeButton, .filterOwnerButton, .filterAllButton {
  font-size: 1.4em;
  border: 2px solid black;
  margin-bottom: 10%;
}

.filterTypeButton {
  margin-bottom: 20%;
}

.btn-close {
  opacity: 1;
}

.btn-close:hover {
  opacity: 1;
}


/* CREATE RECIPE */

.addDiv {
  display: flex;
  justify-content: center;
  max-width: 950px;
  margin: 0 auto;
}

.addRecipe {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ingredients, .methods {
  margin-bottom: 2%;
}

.dynamicButtons {
  margin-bottom: 24px;
}

.addIngredientButton, .addMethodButton, .removeIngredientButton, .removeMethodButton {
  color: ghostwhite;
  border: 2px solid black;
  margin-right: 5%;
}

.addIngredientButton, .addMethodButton {
  background-color: #253D5B;
}


.submitDiv {
  display: flex;
  justify-content: center;
}

.submitRecipeButton {
  color: ghostwhite;
  border: 2px solid black;
  font-size: 1.6em;
  margin: 3% 0;
}


/* RECIPE CARD */

.recipeList {
  list-style-type: none;
  width: 100%;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 5% auto;
}

.recipeCard {
  display: flex;
  flex-basis: 100%;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 3px solid black;
  padding: 0 1% 1%;
  margin: 3%;
  min-width: 500px;
}

.chipDiv {
  display: flex;
  justify-content: flex-start;
  margin: 4% 4%;
}

.ownerChip {
  display: flex;
  align-items: center;
  align-self: stretch;
  text-align: center;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  color: ghostwhite;
  padding: 0 12px;
  margin: 10px 0;
  border-radius: 16px;
  background-color: #253D5B;
  width: 350px;
}

.ownerChip > img {
  float: left;
  margin: 0 8px 0 -25px;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 2px solid #253D5B;
  object-fit: cover;
}

.card-header {
  border-radius: 10px;
}

.imageDiv {
  display: flex;
  justify-content: center;
}

.showImage {
  width: 80%;
  border: 2px solid black;
  text-align: center;
}

.showDiv {
  display: flex;
  justify-content: center;
}

.showCard {
  width: 95%;
}

.showRecipeButton {
  color: ghostwhite;
  background-color: #253D5B;
  border: 2px solid black;
  font-size: 1.6em;
  margin: 3% 0;
}


/* SHOW RECIPE */

.recipeShow {
  margin: 2% 0;
}

.methodH4 {
  margin-top: 2%;
}

/* EDIT RECIPE */

summary {
  font-size: 1.5rem;
  font-weight: bold;
}


/* DELETE RECIPE */

.deleteDiv {
  display: flex;
  justify-content: center;
}

.deleteRecipeButton {
  color: ghostwhite;
  border: 2px solid black;
  font-size: 1.4em;
  margin: 3% 0;
}

/* SCROLL TO TOP BUTTON */

.scrollTopButton {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 10px;
  z-index: 1;
  color: ghostwhite;
  background-color: #253D5B;
  border: 2px solid black;
}


/* DEFAULT FORMS */

fieldset {
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, .9);
  width: 100%;
}

legend {
  float: none;
  padding: 0 30px;
  margin: 0;
  border: 3px solid black;
  border-radius: 10px;
  background-color: #E52029;
  color: ghostwhite;
  width: auto;
  font-size: 2em;
  text-align: right;
}

input.form-control:focus, input.form-select:focus, input[type=text]:focus, input[type=password]:focus,
input.form-control:active, input.form-select:active, input[type=text]:active, input[type=password]:active,
button, .btn:active {
  border: 2px solid black;
  box-shadow: none;
  outline: none;
}

.form-label {
  color: black;
  font-weight: bold;
}

.form-control, .form-select {
  border: 2px solid black;
}

.row {
  display: flex;
  justify-content: center;
}

.btn:hover {
  border: 2px solid black;
  background-color: ghostwhite;
  color: black;
  font-weight: bold;
}


/* MEDIA QUERIES */

/* @media(max-width: 450px){
  .recipeList {
    flex-basis: 100%;
  }
  .recipeCard {
    flex-basis: 100%;
  }
} */


@media screen and (max-width: 800px) {

  .logoH1 {
    font-size: 70px;
  }

  .tomato {
    width: 60px;
  }

  .logoH2 {
    font-size: 30px;
  }

  .logoH4 {
    font-size: 20px;
  }

  .headerH1 {
    font-size: 60px
  }

  .headerTomato {
    width: 50px;
  }

  .addButton, .filterButton, .logoutButton {
    font-size: .9em;
  }

  .navPicture {
    width: 75px;
  }
}

@media screen and (min-width: 1400px) {

  .logoH1 {
    font-size: 170px;
  }

  .tomato {
    width: 160px;
  }

  .headerH1 {
    font-size: 150px
  }

  .headerTomato {
    width: 140px;
  }

  .navPicture {
    width: 175px;
  }

  .addButton, .filterButton, .logoutButton {
    font-size: 1.7em;
  }

}
